<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="to_flex">
        {{!-- <h1>{{title}}</h1> --}}
        {{>header}}
        <img class="potrait" src="img/me.png" alt="my img" title="My Potrait">
        <p> A College Student having high dreams to fulfill !! </p>
        {{!-- <p>Created by {{name}}</p> --}}
        </div>
         {{>footer}}
    </body>
</html>