<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/weather_icon.png">
       <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="to_flex">
       {{>header}}
        <p> {{title}} {{message}} </p>
        </div>

       {{>footer}}
    </body>
</html>