<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather_icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="to_flex">
        {{!-- <h1>{{title}}</h1> --}}
        {{>header}}
        {{text}}
        </div>
        {{>footer}}
    </body>
</html>