<header>

<h1> {{title}}</h1>

<div class="div1">

 {{!-- note: our root id localhost:3000 since all elements are accesed relatively from here like /index.html as localhost:3000/index.html--}}
    <a href="./">Home</a> 
    <a href="./about">About</a>
    <a href="./help">Help</a>
    
</div>

</header>


